


.App {
  height: 100vh;
  width: 100vw;
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  font-family: 'Gabarito', sans-serif;
}
.wrap{
 
  height: 840px;
  width: 95%;
  position: absolute;
  left:50%;
  transform: translate(-50%,0%);
  margin:0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;

}
.sidebar{ 
  height:100%;
  width: 20%;
  position: relative;
  background-color: rgb(9, 0, 40);
  color:white;
}
.main{
  height:100%;
  width: 80%;
  background-color: rgba(240, 248, 255, 0.651);
}
.title{
  width:80%;
  height: 50px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title span{
  font-size: 30px;
  padding-top: 5px;
}
.title h1{
  padding: 0px;
  font-size: 30px;
  margin:0px;
}
.menu-wrap{

  height:60%;
  width: 80%;
  margin: 40px auto;
}

.menu-wrap ul{
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;

}
.menu-wrap ul li{
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
  color: rgba(192, 192, 192, 0.623);
}
.menu-wrap ul li:hover{
  color:white;
   background-color:  rgba(163, 143, 242, 0.234);
   transition: 0.5s ;
 }
 .menu-wrap ul li.active{
  background-color:  rgba(163, 143, 242, 0.234);
  color:white;
}

.ic-title{
  display: flex;
  align-items: center;
  width: 70%;
}
.ic-title .ic{
  padding-left: 10px;
}
.ic-title p{
  padding-left: 20px;
}
.user-info{
  height: 60px;

  position: absolute;
  bottom: 30px;
  width: 80%;
  left:50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:  rgba(163, 143, 242, 0.234);
  border-radius:5px;
}
.profile{
 
  width: 70%;
  height: 100%;
  display: flex;
  
}
.profile img{
  height: 80%;
  width: 30%;
  border-radius: 50%;
  margin: auto auto;
}

  width: 70%;
  height: 100%;
}
.pr-name h5 , p{
  margin:0px;
  padding: 0px;
}
.pr-name h5{

  padding: 10px 10px 0px 10px;
}
.pr-name p{
  font-size: 10px;
  padding:5px 10px 0px 10px ;
  color: rgba(255, 255, 255, 0.373);
}

/* main-section */

.header{
  margin:0px;
  padding: 0px;
  height: 35px;
  width: 90%;
  margin : 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2{
  font-size: 20px;
}
.search{
  display: flex;
}
.search-ic{
 padding: 5px ;
 background-color: rgba(233, 240, 255, 0.523);
  color: gray;
  border-radius: 5px;


}
.search  input[type='text']{
   outline: none;
   border:none;
   border-radius: 5px;
   background-color: rgba(233, 240, 255, 0.523);
}
.numbers{
  margin:0px;
  padding: 0px;
  height: 130px;
  width: 90%;
 
  margin:10px auto;
  display: flex;
  justify-content: space-between;
 
}
.section{
  width:22%;
  background-color: white;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.sec-icon{
  width:45%;
  height:100%;
 
  position: relative;
}
.img-bg{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 65%;
  width: 90%;
  border-radius: 50%;
  background-color: rgba(184, 247, 184, 0.704);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-title{
  color:gray;
}
.info{
  height: 50%;

  margin-top:30px;
  width: 50%;
}
.info p ,h3{
  margin:0px;
  padding: 0px;
}
.img-ic{
  font-size: 40px;
  color: green;
}
.orders .sec-icon .img-bg{
  background-color: rgba(220, 183, 255, 0.501);
}
.orders .sec-icon .img-bg .img-ic{
  color: blueviolet;
}
.balance .sec-icon .img-bg{
  background-color: rgba(150, 192, 250, 0.501);
}
.balance .sec-icon .img-bg .img-ic{
  color: rgb(18, 101, 196);
}
.sales .sec-icon .img-bg{
  background-color: rgba(251, 156, 156, 0.501);
}
.sales .sec-icon .img-bg .img-ic{
  color: rgb(205, 45, 45);
}

.difference{
  font-family: 'Gabarito', sans-serif;
  font-weight: 600;
}

/* graphs, row 3 */

.graphs{
  height: 270px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.bar{
  height: 100%;
  width: 70%;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}
.pie{
  height: 100%;
  width: 26%;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;

}
 .pro-sells{
  height: 300px;
  width: 90%;
  margin:20px auto;
  background-color: white;
  border-radius: 10px;
 }
 .pro-head{
  width:95%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
 }
.dp{
  background-color: rgba(233, 240, 255, 0.523);
  outline: none;
  border:none;
  border-radius: 5px;
  padding: 5px;
  color: gray;
}
.search-box{
  width: 35%;
  height: 100%;
 display: flex;
 justify-content: space-between;
}
.search input[type="text"]{
  background-color: rgba(233, 240, 255, 0.523);
}
.search .search-ic{
  background-color: rgba(233, 240, 255, 0.523);
}
.sell-names{
  height: 20px;
  
  width: 95%;
  
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  color: gray;
}
.counts{
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.prod{

  height: 160px;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 10px auto;
}
.prod-row{
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.prod-items{
  width:30%;
  height: 100%;
 display: flex;
 justify-content: space-around;
 margin-top: 10px;
}
.prod-items .prod-img{
  background-image: url(./ocean.jpg);
  width:35%;
  height: 90%;

  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.prod-items .second{
  background-image: url(./desert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.prod-info{
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.prod-title h4{
  padding: 0px;
  margin: 0px;
}
.close-button{
  display: none;
}


/* media queries */
.menu-bar{
  display:none;
}



@media(max-width:1000px){
  .pro-head{
    height: max-content;
    flex-direction: column;
    justify-content: center;
  }
  .sidebar{height: 1000px;}
}
@media(max-width:1000px){
  .wrap{
    /* display: block; */
    height: 900px;
  }
  .main{
    width: 100%;
  }
  .sidebar{
    display: none;
  }
  .menu-bar{
    display: block;
  }

  .close-button{
    display: block;
    font-size: 25px;
  }
  .search-box{
    width: 60%;
  }
  .search-box .search{
    width: 90%;
    margin: auto;
  }
  .pro-sells{
    height: 360px;
  }
  .prod{
    height: 180px;
  }
  .prod-items{
    width: 50%;
  }
  .prod-info{
    width: 40%;
  }
  .sell-names .counts{
    width: 50%;
  }
 

}
@media (max-width:500px){
  .wrap{
    height: max-content;
  }
  .numbers{
    height: 650px;
    flex-direction: column;
  
  }
  .section{
    width: 100%;
  }
  .graphs{
    height: 660px;
    flex-direction: column;
  }
  .bar{
    width: 100%;
  }
  .pie{
    width: 100%;
  }
}

@media (max-width:460px){
   .header h2{
    font-size: 15px;
   }
   .header .search-ic {
    height: 10px;
    width: 10px;
   }
   .header .search input[type='text']{
    width:80px;
   }
   .prod-title h4{
    font-size: 15px;
    padding-left: 5px;
   }
   .prod-title p{
    font-size: 12px;
    padding-left: 5px;
   }
   .prod-info p{
    font-size: 12px;
   }
   .search-box{
    width: 100%;
    justify-content: space-between;
   }
   .counts p{
    font-size: 12px;
   }
   .sell-names p{
    font-size: 12px;
   }
   .search-box input[type='text']{
    width: 80px;
   }
}



.open {
  width: 100vw;
  display: block;
  z-index: 2;
}
.close{
  display: none;
}
.loading{
  height: 100%;
  width: 100%;
  
}
